<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mailer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <button class="myBtn" onClick='window.location="#message"'>Message</button>
    <button class="myBtn" onClick='window.location="#mailer"'>Add Mailer</button>
    <button class="myBtn" onClick='window.location="#table"'>All Mailers</button>

    <div id="message" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Create Message:</h1>
        <form action="/mailers/send" method="POST">
                <div class="form-group">
                    <label for="template">Choose template:</label>
                    <select id="template" name="messageTemplate" class="form-control-lg">
                        <option value=""></option>
                        <option value="Hello! How are you?">Hello! How are you?</option>
                        <option value="Good morning! Do you have any plans for today?">Good morning! Do you have any plans for today?</option>
                        <option value="Your computer is hacked!">Your computer is hacked!</option>
                        <option value="Hi, Dear! I hope you have a wonderful day!">Hi, Dear! I hope you have a wonderful day!</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="message">Custom message:</label>
                    <textarea class="form-control-lg" id="message" rows="3" cols="41" placeholder="Message" name="myMessage"></textarea>
                </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-lg">Send message to Mailers</button>
            </div>
        </form>
    </div>

    <div id="mailer" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Add New Mailer:</h1>
        <form method="POST" onsubmit="return validate()">
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <input type="text" required placeholder="First Name" name="firstName" class="form-control-lg">
                </div>
                <div class="col d-flex justify-content-start">
                    <input type="text" required placeholder="Surname" name="surname" class="form-control-lg">
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <input type="text" required placeholder="Middle Name" name="midName" class="form-control-lg">
                </div>
                <div class="col d-flex justify-content-start">
                    <input id="emailField" type="email" required placeholder="E-mail" name="mail" class="form-control-lg">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-lg">Add Mailer</button>
            </div>
        </form>
    </div>

    <div id="table" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Mailers</h1>
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Middle Name</th>
                <th>E-mail</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
            </thead>
            <tbody>
            <% mailers.forEach(function (mailer) {%>
                <tr>
                    <td class="align-middle"><%= mailer.firstName %></td>
                    <td class="align-middle"><%= mailer.surname %></td>
                    <td class="align-middle"><%= mailer.midName %></td>
                    <td class="table-info font-italic align-middle"><%= mailer.mail %></td>
                    <td class="align-middle">
                        <form action="/mailers/delete/<%= mailer._id %>" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form action="/mailers/update/<%= mailer._id %>" method="POST" onsubmit="return validate()">
                            <input type="text" placeholder="First Name" name="firstName">
                            <input type="text" placeholder="Surname" name="surname">
                            <input type="text" placeholder="Middle Name" name="midName">
                            <input type="email" id="emailField" placeholder="E-mail" name="mail">
                            <button type="submit" class="btn btn-info">Update</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>

<script>
    function validateEmail(email) {
        let re = /\S+@\S+\.\S+/;
        return re.test(String(email).toLowerCase());
    }

    function validate() {
        let mailToCheck = document.getElementById('emailField').value;
        if(mailToCheck.length > 0){
            if(validateEmail(mailToCheck)){
                return true;
            }else{ alert("E-mail is not valid"); return false;}
        }
    }
</script>
</body>
</html>